.container {
    width: 80%;
    height: 100%;
    margin: auto;
    margin-top: 70px;
}

.example-full-width {
    width: 100%;
}

#form-container1 {
    display: inline-block;
    width: 100%;
    min-height: 100%;
}

#table-container {
    width: 40%;
    height: 100%;
    float: left;
}

#questions-container {
    float: right;
    width: 55%;
    height: 100%;
    border-radius: 0;
}

mat-list {
    padding: 0;
}

.mat-accordion {
    border-radius: 0%;
}

.myapp-no-padding-dialog .mat-dialog-container {
    padding: 0;
}

.mat-button-focus-overlay {
    background-color: transparent!important;
}