<div id="patient-header">
  <mat-card id="patient-overview">
    <mat-card-header>
      <mat-card-title class="card-container-right">
        <mat-icon class="card-icon"> people </mat-icon>
        <span> {{ patientDetails.name }} </span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>

        <mat-list-item>
          <p mat-line><font color="gray">Age:</font> {{patientDetails.age}}</p>
        </mat-list-item>
        <mat-list-item>
          <p mat-line><font color="gray">Gender:</font> {{patientDetails.gender}}</p>
        </mat-list-item>
        <mat-list-item>
          <p mat-line><font color="gray">Height:</font> {{patientDetails.height}}</p>
        </mat-list-item>
        <mat-list-item>
          <p mat-line><font color="gray">Weight:</font> {{patientDetails.weigth}}</p>
        </mat-list-item>
        <mat-list-item>
          <p mat-line><font color="gray"> Cnp: </font> {{ patientDetails.cnp }}</p>
        </mat-list-item>
        <mat-list-item>
          <p mat-line><font color="gray"> Address: </font> {{ patientDetails.address }}</p>
        </mat-list-item>

        <div id="buttons">
          <button mat-raised-button color="primary" (click)="openAddQuizPage()" style="margin-left: 15px;"> Add quiz </button>
          <button mat-raised-button color="primary"(click)="openAddPrescriptionPage()"> Add prescription </button>
          <button mat-raised-button color="primary" (click)="openAddTreatmentPage()" style="float: right;"> Add treatment </button>
          <!-- <button mat-raised-button color="primary" (click)="openAddQuizPage()" style="margin-left: 10px;"> Create quiz </button> -->
          <!-- <button mat-raised-button color="primary" (click)="openAddPrescriptionPage()"> Create prescription </button> -->
          <!-- <button mat-raised-button color="primary" (click)="openAddTreatmentPage()"> Create treatment </button> -->
        </div>

      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card id="medical-history">
    <mat-card-header>
      <mat-card-title class="card-container-right">
        <mat-icon class="card-icon">timeline</mat-icon>
        Medical history
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="start_date">
          <th mat-header-cell *matHeaderCellDef > Start date </th>
          <td mat-cell *matCellDef="let element"> {{element.start_date}} </td>
        </ng-container>

        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef > Duration </th>
          <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container> -->

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail"
                 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="example-element-description">
                {{element.description}}
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>


    </mat-card-content>
  </mat-card>
</div>

<mat-tab-group id="patient-details-table">
  <mat-tab label="Activity Log">
    <div class="activity-log mat-elevation-z4">
      <font style="font-size: 18px"><i> Friday 27 December, 2019 </i></font>
      <mat-list class="activity-list">
        <mat-list-item *ngFor="let activity of patientActivities">
          <table id="activity-details-table">
            <tr>
              <td class="col-first"><font style="font-size: 21px;"> <b> {{ activity.title }}</b> </font> </td>
              <td rowspan="2">
                <div id="wrapper-activity-image">
                  <img src="assets/{{activity.image}}.png" alt="bike">
                </div>
              </td>
            </tr>
            <tr>
              <td class="col-first"> {{activity.duration}} ● {{activity.distance}} </td>
            </tr>
          </table>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-tab>
  <mat-tab label="Vital Sign">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Heart rate">
        <app-chart-heart-rate></app-chart-heart-rate>
      </mat-tab>
      <mat-tab label="Temperature">
        <app-chart-temperature></app-chart-temperature>
      </mat-tab>
      <mat-tab label="Blood sugar">
        <app-chart-blood-sugar></app-chart-blood-sugar>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>

  <mat-tab label="Nutrition history">
    <app-nutrition-history></app-nutrition-history>
  </mat-tab>

  <mat-tab label="Treatment(s)"> 
    <mat-card>
      <mat-card-content class="treatment-container mat-elevation-z4">
        <table mat-table [dataSource]="treatments" multiTemplateDataRows>
          <ng-container matColumnDef="Start date">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Start date </th>
            <td mat-cell *matCellDef="let element"> {{element.startDate | date : 'fullDate'}} </td>
          </ng-container>

          <ng-container matColumnDef="End date">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> End date </th>
            <td mat-cell *matCellDef="let element"> {{element.endDate  | date : 'fullDate'}} </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" style="padding: 0;" [attr.colspan]="columnsToDisplayTreatment.length">
              <div class="example-element-detail" style="border-radius: 5px;" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <mat-list class="activity-list">
                  <mat-list-item *ngFor="let medication of element.medications">
                    <table id="activity-details-table">
                      <tr style="margin: auto;">
                        <td class="col-first"><font style="font-size: 21px;"> <b> {{ medication.name }}</b> </font> </td>
                        <td rowspan="2">
                          <div id="wrapper-activity-image">
                            <img src="assets/medication.png" alt="bike">
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="col-first"> {{medication.dosage}} pill every {{medication.intakeIntervals}} hours.</td>
                      </tr>
                    </table>
                    <mat-divider></mat-divider>
                  </mat-list-item>
                </mat-list>
              </div>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="columnsToDisplayTreatment"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplayTreatment;"
              class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
              (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
      </mat-card-content>

    </mat-card>

  </mat-tab>

  <mat-tab label="Answered quiz">
    <mat-accordion *ngFor="let form of answeredForms" id="answeredForms" fxFlexAlign="center">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{form.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{form.date.toString()}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-card>
          <mat-card-header>
            <mat-card-title class="card-container-right">
              <mat-icon class="card-icon" color="accent"> question_answer </mat-icon>
              <span> {{ form.name }} </span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list *ngFor="let answer of form.answers">
              <mat-list-item>
                <font color="gray">{{answer.question}} </font>
                <p fxFlexAlign="center" id="answer"> {{answer.answer}}</p>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>


    </mat-accordion>

  </mat-tab>
</mat-tab-group>
