#quiz-card {
  align-items: center;
  padding: 50px;
  width: 80%;
  height: 100%;
  margin: auto;
  margin-top: 70px;
}

#buttons {
  alignment: center;
  width: 50%;
}

#buttons > button {
  margin: auto 15px auto 15px;

}
