<mat-toolbar id="headerToolbar"  class="toolbar" color="accent">
  <mat-card-title>Save Measurements</mat-card-title>
  <span class="toolbar-spacer"></span>
  <mat-icon fxFlexAlign="end" (click)="onClose()">cancel</mat-icon>
</mat-toolbar>

<mat-accordion >
  <mat-expansion-panel #panel1>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Blood Pressure
      </mat-panel-title>
      <mat-panel-description>
        Insert systolic, diastolic and pulse parameters
      </mat-panel-description>
    </mat-expansion-panel-header>

        <mat-form-field appearance="outline">
          <mat-label>Systolic</mat-label>
          <input matInput type="number"  placeholder="mmHg" name="systolic"  [formControl]="systolicControl" [(ngModel)]="systolic">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>*mandatory value</mat-hint>
          <mat-error>This field requires a number of maxim 3 digits.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Diastolic</mat-label>
          <input matInput type="number" name="diastolic" placeholder="mmGh" [formControl]="diastolicControl" [(ngModel)]="diastolic">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>*mandatory value</mat-hint>
          <mat-error>This field requires a number of maxim 3 digits.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Pulse rate</mat-label>
          <input matInput placeholder="beats/minute" type="number" name="pulse" [formControl]="pulseControl" [(ngModel)]="pulse">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>*mandatory value</mat-hint>
          <mat-error>This field requires a number of maxim 3 digits</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="pressPicker" name="presDate" placeholder="Choose a date" [(ngModel)]="presDate">
          <mat-datepicker-toggle matSuffix [for]="pressPicker"></mat-datepicker-toggle>
          <mat-datepicker #pressPicker></mat-datepicker>
        </mat-form-field>

        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" (click)="saveBloodPressure()">Save</button>
          <button mat-raised-button color="accent" (click)="onClear()">Cancel</button>
        </div>
  </mat-expansion-panel>

  <mat-expansion-panel  #panel2>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Temperature
      </mat-panel-title>
      <mat-panel-description>
        Insert temperature parameter
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field appearance="outline">
      <mat-label>Temperature</mat-label>
      <input matInput placeholder="Celsius grades" type="number" name="temp" [formControl]="tempControl" [(ngModel)]="temperature">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>*mandatory value</mat-hint>
      <mat-error>This field requires a number of maxim 3 digits</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="tempPicker" name="tempDate" placeholder="Choose a date"  [(ngModel)]="tempDate">
      <mat-datepicker-toggle matSuffix [for]="tempPicker"></mat-datepicker-toggle>
      <mat-datepicker #tempPicker></mat-datepicker>
    </mat-form-field>

    <div class="button-row">
      <button mat-raised-button color="primary" (click)="saveTemperature()">Save</button>
      <button mat-raised-button color="accent" (click)="onClear()">Cancel</button>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel #panel3>
    <mat-expansion-panel-header  >
      <mat-panel-title>
        Blood sugar
      </mat-panel-title>
      <mat-panel-description>
        Insert the quantity you measured with
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field appearance="outline">
      <mat-label>Sugar Level</mat-label>
      <input matInput placeholder="levesdjc"  type="number" name="sugar"  [formControl]="sugarControl" [(ngModel)]="bloodSugar">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>*mandatory value</mat-hint>
      <mat-error >This field requires a number of maxim 3 digits</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="sugarPicker" placeholder="Choose a date" name="sDate" [(ngModel)]="sugarDate">
      <mat-datepicker-toggle matSuffix [for]="sugarPicker"></mat-datepicker-toggle>
      <mat-datepicker #sugarPicker></mat-datepicker>
    </mat-form-field>

    <div class="button-row">
      <button mat-raised-button color="primary" (click)="saveBloodSugar()" >Save</button>
      <button mat-raised-button color="accent" (click)="onClear()">Cancel</button>
    </div>
  </mat-expansion-panel>

</mat-accordion>

<div id="loading-spinner">
  <mat-progress-spinner class="example-margin" [color]="'primary'" [mode]="'indeterminate'"></mat-progress-spinner>
</div>
