<mat-toolbar id="headerToolbar" class="toolbar">
  <mat-card-title>Save Measurements</mat-card-title>
  <span style="width: 100px;"></span>
  <mat-icon (click)="onClose()" style="float: right;">cancel</mat-icon>
</mat-toolbar>

<mat-accordion >
  <mat-expansion-panel #panel1>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Blood Pressure
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-icon color="primary" class="tutorialIcon" (click)="openTutorial('blood pressure')">
      help_outline
    </mat-icon>
      <form [formGroup]="bloodPressureForm">
        <mat-form-field appearance="outline">
          <mat-label>Systolic (upper value)</mat-label>
          <input matInput type="number"  placeholder="mmHg" name="systolic"  formControlName="systolicControl" [(ngModel)]="systolic">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>*mandatory value</mat-hint>
          <mat-error>This field requires a number of maxim 3 digits.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Diastolic (lower value)</mat-label>
          <input matInput type="number" name="diastolic" placeholder="mmGh" formControlName="diastolicControl" [(ngModel)]="diastolic">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>*mandatory value</mat-hint>
          <mat-error>This field requires a number of maxim 3 digits.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Pulse rate</mat-label>
          <input matInput placeholder="beats/minute" type="number" name="pulse" formControlName="pulseControl" [(ngModel)]="pulse">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>*mandatory value</mat-hint>
          <mat-error>This field requires a number of maxim 3 digits</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="pressPicker"  formControlName="pressureDateControl" name="presDate" placeholder="Choose a date" [(ngModel)]="presDate">
          <mat-datepicker-toggle matSuffix [for]="pressPicker"></mat-datepicker-toggle>
          <mat-datepicker #pressPicker></mat-datepicker>
        </mat-form-field>

        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" (click)="saveBloodPressure()">Save</button>
          <button mat-raised-button color="accent" (click)="onClear()">Cancel</button>
        </div>
      </form>
  </mat-expansion-panel>

  <mat-expansion-panel  #panel2>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Temperature
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-icon color="primary" class="tutorialIcon"  (click)="openTutorial('body temperature')" >
      help_outline
    </mat-icon>
    <form [formGroup]="temperatureForm">
    <mat-form-field appearance="outline">
      <mat-label>Temperature</mat-label>
      <input matInput placeholder="Celsius grades" type="number"  name="temp" formControlName="tempControl" [(ngModel)]="temperature">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>*mandatory value</mat-hint>
      <mat-error>This field requires a number of maxim 3 digits</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="tempPicker" name="tempDate" formControlName="tempDateControl"  placeholder="Choose a date"  [(ngModel)]="tempDate">
      <mat-datepicker-toggle matSuffix [for]="tempPicker"></mat-datepicker-toggle>
      <mat-datepicker #tempPicker></mat-datepicker>
    </mat-form-field>

    <div class="button-row">
      <button mat-raised-button color="primary" (click)="saveTemperature()">Save</button>
      <button mat-raised-button color="accent" (click)="onClear()">Cancel</button>
    </div>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel #panel3>
    <mat-expansion-panel-header  >
      <mat-panel-title>
        Blood sugar
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-icon class="tutorialIcon"  color="primary" (click)="openTutorial('blood sugar')" >
      help_outline
    </mat-icon>
    <form [formGroup]="sugarForm">
    <mat-form-field appearance="outline">
      <mat-label>Sugar Level</mat-label>
      <input matInput placeholder="levesdjc"  type="number" name="sugar"  formControlName="sugarControl" [(ngModel)]="bloodSugar">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>*mandatory value</mat-hint>
      <mat-error >This field requires a number of maxim 3 digits</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="sugarPicker" placeholder="Choose a date" formControlName="sugarDateControl" name="sDate" [(ngModel)]="sugarDate">
      <mat-datepicker-toggle matSuffix [for]="sugarPicker"></mat-datepicker-toggle>
      <mat-datepicker #sugarPicker></mat-datepicker>
    </mat-form-field>

    <div class="button-row">
      <button mat-raised-button color="primary" (click)="saveBloodSugar()" >Save</button>
      <button mat-raised-button color="accent" (click)="onClear()">Cancel</button>
    </div>
    </form>
  </mat-expansion-panel>

</mat-accordion>

<div id="loading-spinner">
  <mat-progress-spinner class="example-margin" [color]="'primary'" [mode]="'indeterminate'"></mat-progress-spinner>
</div>
