<html>
<body>
<mat-icon id="cancel" color="primary" (click)="onNoClick()" >cancel</mat-icon>

<div id="result-container">
  <mat-list style="padding-top: 50px;">
    <h3 mat-subheader>Food that was detected:</h3>
    <mat-list-item *ngFor="let food of foodDetected">
      <h4>{{food.name}}: {{food.calories}} kcal</h4>
    </mat-list-item>
  </mat-list>
  <button class="overlay-button" mat-fab color="primary" (click)="didApproveDetectedFood()">
    <mat-icon>done</mat-icon>
  </button>
</div>

<div id="video-wrapper">
  <video id="video" width="606px" height="456px"></video>
  <button class="overlay-button" mat-fab color="primary" (click)="didTapTakePhotoButton()">
    <mat-icon>done</mat-icon>
  </button>
</div>

<div id="canvas-wrapper">
  <canvas id="canvas" width="606px" height="456px"></canvas>
  <button id="doneButton" class="overlay-button" mat-fab color="primary" (click)="didTapApprovePhoto()">
    <mat-icon>done</mat-icon>
  </button>
  <button id="retryButton" class="overlay-button" mat-fab color="primary" (click)="didTapRetakePhotoButton()">
    <mat-icon>autorenew</mat-icon>
  </button>
</div>

<div id="meals-menu" *ngIf="!shouldShowCamera">
  <table>
    <thead></thead>
    <tbody>
    <tr [ngClass]="{'disabled': (meal.status && !(meal.name.includes('Snack')))}" *ngFor="let meal of meals; index as i">
      <td>
        <mat-checkbox class="example-margin"  *ngIf="!(meal.name=='Snack')" [disabled]="true" [checked]="meal.status"></mat-checkbox>
      </td>
      <td>{{meal.name}}</td>
      <td>
        <button mat-fab color="primary" [disabled]="(meal.status && !(meal.name.includes('Snack')))" matTooltip="Take a photo!" (click)="didTapCaptureButton(i)">
          <mat-icon>photo_camera</mat-icon>
        </button>
      </td>
      <td>
        <input #fileUpload type="file" (change)="didTapUploadButton(fileUpload.files, i)" style="display:none"
               accept="image/*">
        <button id="upload-button" mat-fab color="primary" [disabled]="(meal.status && !(meal.name.includes('Snack')))" matTooltip="Upload a photo!" (click)="fileUpload.click()">
          <mat-icon>cloud_upload</mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div id="loading-spinner">
  <mat-progress-spinner class="example-margin" [color]="'primary'" [mode]="'indeterminate'"></mat-progress-spinner>
</div>
</body>
</html>
