<h1>adsjna,sdnklanskldnakslndkankdaskm</h1>

<div id="nutritionStats" >
  <mat-progress-bar  [@progressBarTrigger]='state' id= "p1"[color]="color"
                     [mode]="mode"
                     [value]="value"
                     [bufferValue]="bufferValue"></mat-progress-bar>
<!--  <mat-progress-bar  id="p2" [color]="color"-->
<!--                     [mode]="mode"-->
<!--                     [value]="0"-->
<!--                     [bufferValue]="bufferValue"></mat-progress-bar>-->
</div>
