#content-wrapper {
  width: 96%;
  height: 100%;
  margin: auto;
  margin-top: 70px;
}

#hospital {
  width: 100%;
  margin: 0;
  display: inline-block;
}

#info {
  display: inline-block;
  width: 40%;
}

#info > img {
  width: 100%;
  margin: 0;
}

#buttons {
  display: inline-block;
  width: 100%;
}

#buttons > button {
  display: inline-block;
  width: 37%;
  font-size: 11px;
  padding: 0;
  text-align: center;
  margin: auto;
}

#card-appointment {
  box-shadow: none;
  display: inline-block;
  width: 30%;
  height: 100%;
  text-align: center;
  vertical-align:top;
  padding: 0;
}

textarea {
  resize: none;
  border-radius: 10px;
  width: 95%;
  height: 345px;
  border-style: none;
  background-color: #8ebbc7;
  box-sizing: border-box;
  outline: none;
}

mat-calendar {
  width: 30%;
  float: right; 
  margin: auto;
}

.table-container {
  width: 96%;
  margin: auto;
}

table{
  margin-top: 30px;
  width: 100%;
}

#add-button {
    margin-top: 40px;
    margin-left: 80px;
}
  
.header-image {
  background-image: url('src/assets/doctor-header.jpg');
  background-size: cover;
}

.no-appointment {
  background: lightblue;
  border-radius: 100%;
}
